$light-violet: #F6F0FD;
$violet: #9C69E2;
$violet-middle: #8A40EE;
$violet-dark: #212353;
$pink-medium: #FDE8F5;
$light-green:  #F0FAF9;
$light-pink: #FEF0F8;
$light-blue: #EAF6FC;
$dark-gray: #4B5D68;
$blue-medium: #CCDDFF;
$pink: #F063B8;
$pink-middle: #EB4BAB;
$blue: #3B5998;
$bright-blue: #00ACEE;
$bright-pink: #C13584;
$light-gray: #2123531f;
